<style>
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:15px;
  font-weight: 100;
  padding:15px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 200px;
  margin: auto;
  max-width: 400px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

body {
  background: #323c49;
}

h1, .h1 {
  font-size: 33px;
  font-family: "Trebuchet MS";
  font-size: 2.5em !important;
  color: #2a7bbd;
}

h2, .h2 {
  font-size: 20px;
  font-family: "Trebuchet MS";
  font-size: 2.5em !important;
  color: #3d7f85;
}



h3, .h3 {
  font-size: 14px;
  font-family: "Trebuchet MS";
  font-size: 2.5em !important;
  color: #3d7f85;
}


.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: rgba(255, 255, 255, 0.25);
}

div.input_area {
  border: none;
  border-radius: 0;
  line-height: 1.5em;
  margin: 0.5em 0;
  padding: 0;
}


</style>